html {
    font-size: 15px;
    font-family: Arial;
    /*color: #3c3c3c;*/
    color: rgb(83, 82, 82);
}

body {
    background-image: url(images/backimage.jpg);
}

.header {
    width: 890px;
    height: 60px;
    margin: 0 auto;
    background-color: aqua;
    border-radius: 10px 10px 0 0;
}

.maincontent {
    width: 890px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #fffdfd;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.maincontent_admin_menu {
    width: 890px;
    min-height: 380px;
    margin: 0 auto;
    background-color: #fffdfd;
    text-align: center;

}

.footer {
    width: 890px;
    height: 24px;
    padding: 10px 5px;
    margin: 0 auto;
    background-color: aquamarine;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
}

.footer_higher {
    width: 880px;
    min-height: 24px;
    padding: 10px 5px 20px 15px;
    margin: 0 auto;
    background-color: #fffdfd;
    border-radius: 0px 0px 10px 10px;
    color: darkslategray;
    font-weight: normal;
    text-align: center;
}

#logo_text {
    font-family: Arial;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px #333;
}

#text_under_the_logo {
    font-family: Arial;
    font-size: 1rem;
    color: #fffe91;
    font-weight: normal;
    text-shadow: 1px 1px 5px #333;
}
#text_right_the_logo {
    font-family: Arial;
    font-size: 1rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 4px #333;
}
#text_right_the_logo2 {
    font-family: Arial;
    font-size: 1rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 4px #333;
}
#text_right_the_logo3 {
    font-family: Arial;
    font-size: 1rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 4px #333;
}
span.text_right_the_logo4{
    font-family: Arial;
    font-size: 1rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 4px #333;
}
div {
    box-shadow: rgb(128, 128, 128) 4px 10px 10px;
    padding: 5px 5px 5px 5px;

}

div div {
    box-shadow: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid dimgrey;
    padding: 3px;
}

div .for_logo {
    margin: 0 auto;
    width: 30%;
}

.header_content {
    /*min-height: 40px;
    width: 25%;
    max-width: 40%;
   */
    border-radius: 8px;
    letter-spacing: normal;
    /*float: left;*/
    position: absolute;
    left: 50%;
    top: 15%;
    margin-top: -100px;
    margin-left: -100px;
}

.header_content_3pc {
    min-height: 40px;
    width: 32%;
    max-width: 40%;
    border-radius: 8px;
    letter-spacing: normal;
    float: left;
    text-align: center;
}

#logout_container{
    width: 30%;
    height: 50%;
    float: right;
    text-align: left;
}
#near_logout_container{
    width: 60%;
    height: 50%;
    float: right;
    text-align: right;
}
#admin_page_container{
    width: 100%;
    height: 50%;
    float: right;
    text-align: right;
}
.content_preview {
    min-height: 40px;
    width: 25%;
    max-width: 40%;
    padding: 7px 10px;
    margin: 10px 5px 15px 15px;
    border-radius: 8px;
    border-left: 8px solid chartreuse;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1), -2px -2px 5px 0 rgba(0, 0, 0, .1), 2px 2px 5px 0 rgba(0, 0, 0, .1), -2px 2px 5px 0 rgba(0, 0, 0, .1);
    letter-spacing: normal;
    float: left;
}

.content_preview2 {
    min-height: 40px;
    width: 25%;
    max-width: 40%;
    padding: 7px 10px;
    margin: 10px 5px 15px 15px;
    border-radius: 8px;
    border-left: 8px solid yellow;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1), -2px -2px 5px 0 rgba(0, 0, 0, .1), 2px 2px 5px 0 rgba(0, 0, 0, .1), -2px 2px 5px 0 rgba(0, 0, 0, .1);
    letter-spacing: normal;
    float: left;
}

.content_preview3 {
    min-height: 40px;
    width: 25%;
    max-width: 40%;
    padding: 7px 10px;
    margin: 10px 5px 15px 15px;
    border-radius: 8px;
    border-left: 8px solid lightseagreen;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1), -2px -2px 5px 0 rgba(0, 0, 0, .1), 2px 2px 5px 0 rgba(0, 0, 0, .1), -2px 2px 5px 0 rgba(0, 0, 0, .1);
    letter-spacing: normal;
    float: left;
}

.content_preview:hover {
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .2), -2px -2px 5px 0 rgba(0, 0, 0, .2), 2px 2px 5px 0 rgba(0, 0, 0, .2), -2px 2px 5px 0 rgba(0, 0, 0, .2);
}

.content_preview2:hover {
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .2), -2px -2px 5px 0 rgba(0, 0, 0, .2), 2px 2px 5px 0 rgba(0, 0, 0, .2), -2px 2px 5px 0 rgba(0, 0, 0, .2);
}

.content_preview3:hover {
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .2), -2px -2px 5px 0 rgba(0, 0, 0, .2), 2px 2px 5px 0 rgba(0, 0, 0, .2), -2px 2px 5px 0 rgba(0, 0, 0, .2);
}

.image_preview {
    width: 20%;
    height: 30px;
    float: left;
    /*background-color:burlywood;*/
    margin: 0px 5px 4px 0px;
    padding: unset;
}

.descriprion_preview {
    text-align: left;
}

.descriprion_preview .data_in_preview {
    font-size: 0.8em;
    color: gray;
}

.descriprion_preview .text_in_preview {
    font-size: 1.0em;
    font-weight: normal;
}

.descriprion_preview .text_in_preview_left {
    font-size: 1.1em;
    font-weight: bold;

}

p.error_message_text {
    color: red;

}